includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src

    # The level 9 is the highest level
    level: 5

    ignoreErrors:
        # Ignore "env outside of the config directory" errors
        -
            message: "#Called 'env' outside of the config directory.*#"
            paths:
                - src/config/moamalat-pay.php

        # Ignore "view-string" type errors
        -
            message: '#Parameter \#1 \$view of function view expects view-string\|null, string given.*#'
            paths:
                - src/Pay.php
                - src/View/Components/Pay.php

    # Uncomment to exclude specific files
    # excludePaths:
    #     - ./*/*/FileToBeExcluded.php
